.App {
  text-align: center;
  background: linear-gradient(45deg, rgb(0, 255, 170), rgb(0, 47, 255));
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
}

.App a {
  font-size: 2rem;
}

.opened {
  position: absolute;
  top: 9rem;
  left: 5rem;
  min-height: 40vh;
  width: 10vw;
  border: 1px solid red;
  transition-duration: 0.5s;
}

.closed {
  position: absolute;
  top: 9rem;
  left: 5rem;
  min-height: 40vh;
  width: 10vw;
  border: 1px solid red;
  transform: translateY(-60rem);
  transition-duration: 0.5s;
}
